---
layout: base
title: Home
header: false
full_width: true
theme: dark
mathjax: false
excerpt: >
    Radi's Homepage

permalink: /index.html
---
{% include analytics.html %}
<body>
	<div class="landing-home" itemscope itemtype="https://schema.org/Person">		
		<div class="main">
			<div class="content">
<!-- 					<div class="my-photo">
					<img itemprop="image" alt="logo" src="https://radiradev.github.io/assets/images/logo/image.jpg" />
				</div> -->
				<h2 itemprop="name" class="title-text"> Hi! I'm {{site.author.name}} </h2>
				<p> <h1> Machine Learning :chart_with_upwards_trend: Data Science :bar_chart: Physics :books:</h1>
				<br>
				{% include author-links.html author=site.author %}
				<br>
				<a class="button--rounded button--theme-dark button-lg" title="Visit my blog" itemprop="url" href="/blog" target="_self">Visit my blog</a>
				&nbsp;
				<a class="button--rounded button--theme-dark button-lg" title="About me" itemprop="url" href="/about.html" target="_self">About me</a>
			</div>
		</div>
	</div>
</body>

<script>
	{%- include scripts/common.js -%}
</script>
